
<!--Username:
<input type="text" [(ngModel)]="user.username"><br>
Old Password:
<input type="password" [(ngModel)]="user.password"><br>
New Password:
<input type="password" [(ngModel)]="newpass"><br>
Confirm Password:
<input type="password" [(ngModel)]="confirmpass">
<button (click)="changePassword()" > Change Password</button-->
    <div class="container forget-password">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="text-center">Change Password?</h2>
                            <p>You can change your password here.</p>
                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                       Email:
                                        &nbsp; &nbsp; &nbsp;
                                       <input type="text" class="form-control" [(ngModel)]="user.email" name="email">       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        Old Password:
                                        &nbsp; &nbsp;
                                        <input  class="form-control"  type="password" [(ngModel)]="user.password" name="oldpwd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                
                                        New Password:
                                        &nbsp; &nbsp;
                                        <input class="form-control"  type="password" [(ngModel)]="newpass" name="newpwd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                       
                                        Confirm Password:
                                        &nbsp;
                                        <input   class="form-control"  type="password"  [(ngModel)]="confirmpass" name="confirmpwd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block btnForget" (click)="changePassword()">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>